@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

.nav {
  background-color: $primary-color;
  padding: 2rem;
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 9;

  &.opacity {
    background-color: transparent;
  }

  .navSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive('mobile') {
      display: block;
    }

    h1.title {
      color: $light-color;
      display: flex;
      align-items: center;
      gap: 1rem;

      @include responsive('mobile') {
        display: none;
      }
    }

    ul.links {
      display: flex;
      align-items: center;
      gap: 4rem;
      list-style: none;

      @include responsive('mobile') {
        justify-content: center;
      }

      li a {
        text-decoration: none;
        color: $light-color;

        &:hover {
          color: $secondary-color;
        }

        &.active {
          color: $secondary-color;
        }
      }
    }
  }
}
