@import "@/app/styles/mixins.scss";

.card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 36.5rem;
  position: relative;
  border-radius: 6px;
  cursor: pointer;

  @include responsive('mobile') {
    height: 45rem;
  }
}
